<div id='notifications'>
  <% if flash.any? %>
      <% flash.each do |type, msg| %>
        <% if type == 'alert' %>
          <%= content_tag :div, msg, id: 'alert-flash',
                                class: "alert alert-light alert-dismissible fade show align-items-center position-fixed top-0 end-0 my-2 me-4",
                                role: :alert,
                                data: { controller: 'autohide' } do %>
            <%= msg %>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                    data-autohide-target="close"></button>
          <% end %>
        <% else %>
          <%= content_tag :div, msg, id: 'notice-flash',
                                class: "alert alert-light alert-dismissible fade show align-items-center position-fixed top-0 end-0 my-2 me-4",
                                role: :alert,
                                data: { controller: 'autohide' } do %>
            <%= msg %>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                    data-autohide-target="close"></button>
          <% end %>
        <% end %>
      <% end %>
  <% end %>
</div>
