<div class="products-header">
  <h1>Products</h1>
  <div>
    <%= link_to "New product", new_product_path, class: "btn btn-primary",
    data: { turbo_frame: :remote_modal } %>
  </div>
</div>
<table class="table" id="products">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @products %>
  </tbody>
</table>
